@use "./../../styles/helpers" as *;

.section-card {
  display: flex;
  flex-direction: column;
  padding-block: var(--section-padding-y);

  &__title {
    color: var(--color-grey);
    margin-bottom: 24px;
  }

  &__cards-list {
    display: grid;
    gap: 24px 20px;

    &-item .card {
      height: 100%;
      max-width: 420px;
    }

    @include mobile-s-above {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile-above {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet-above {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__button {
    margin-top: 40px;
    align-self: center;
  }
}
