@use "/src/styles/helpers" as *;

.card {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  padding: 25px 16px;
  background-color: var(--color-grey-light);
  box-shadow: var(--box-shadow-md);
  border-radius: var(--border-radius-sm);
  min-height: 128px;
  row-gap: 5px;

  &__date {
    font-size: 14px;
  }

  &__episode {
    font-size: 14px;
    font-weight: 700;
  }
}
