.footer {
  padding: 20px;
  box-shadow: var(--box-shadow-layout);

  &__text {
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-second);
    font-weight: 700;
    font-size: 18px;
  }
}
